<!-- Main Footer -->
<footer class="main-footer">
	
	<div class="container-fluid">
		<div class="row">
			<div class=" col-xs-12  col-sm-6 col-md-4 col-lg-3">
				<img class="pull-left" src="/../public/assets/img/Suisse.png" alt="Suisse">
			</div>
			<div class="col-xs-12 col-sm-6  col-md-4 col-lg-6">
				<h6 class="text-justify">
					"Programme d’Appui au Gouvernement Tunisien dans le domaine de la Gestion intégrée des Frontières" 
					Un projet financé par l’Union européenne et la Confédération Suisse et mis en œuvre par ICMPD  
					en collaboration avec la DCI, la DCPAF et la DGDDI (France) et le SEM, l’AFD et le Cgfr (Suisse) et la GC (Espagne)		
				</h6>
			</div>
			<div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
				<img class="pull-right" src="/../public/assets/img/ICMPD.png" alt="ICMPD">
			</div>
		</div>
	</div>
<br>
	<!-- To the right -->
	<div class="pull-right hidden-xs">Demo version</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2017 <a href="#" routerLink="/">ICMPD</a>.
	</strong> &nbsp; All rights reserved.
</footer>